@use "sass:map";
@use "../../../../../styles/mixins" as mixins;
@use "../../../../../styles/colors" as colors;

:host {
  .control-bar-container {
    @include mixins.page-style();

    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;

    row-gap: 1rem;

    @media (min-width: map.get(mixins.$breakpoints, "sm")) {
      flex-direction: row;
      gap: 1rem;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    @media (min-width: map.get(mixins.$breakpoints, "sm")) {
      justify-content: flex-end;
      flex-direction: row;
    }

    @include mixins.button-style();
    button {
      white-space: nowrap;
      width: 100%;
      justify-content: center;
      color: colors.$primary;
      border-color: colors.$primary;
      border-width: 1px;
      border-style: solid;

      @media (min-width: map.get(mixins.$breakpoints, "sm")) {
        width: auto;
      }

      &.primary {
        color: white;
        background-color: colors.$primary;
      }
    }
    button:hover {
      border-width: 1px;
      border-style: solid;
      border-color: colors.$border;
    }
  }

  .content-container {
    white-space: nowrap;
  }
}
